.about {
  margin-bottom: 3rem;
  color: var(--text-color);
  text-align: left;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    text-align: center;
  }

  &__text {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
  }

  &__location {
    font-size: 1rem;
    color: var(--text-secondary);
    margin-top: 2rem;
    font-weight: 500;
    text-align: center;
    border-top: 1px solid var(--glass-border);
    padding-top: 1.5rem;
  }

  a.highlight {
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: var(--secondary-color);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}